html, body {
	background-image: url(images/bg.jpg);
	top: 0px;
	margin: 0;
	padding: 0;
	width:100%;
	text-align: center;
	margin-top: 0px;
	background-position: fixed;
	background-repeat: repeat-x;
	background-color: #e6e5d8;
}  

#topmenu {
	background-image: url(images/bgmenu.png);
	background-repeat: no-repeat;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:128px;
	margin-top: 5px;
	z-index:6;
}
#footer {
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:88px;
	margin-top: 0px;
	margin-bottom: 10px;
}
#bottom {
	background-image: url(images/bgbottom.jpg);
	background-repeat: repeat-x;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
}
#endtop {
	background-image: url(images/topbottom2.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:11px;
}
#endmenu {
	background-image: url(images/endtop.png);
	background-repeat: no-repeat;
	margin-top: 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:14px;
}
#tabbottom {
	background-image: url(images/bottomtab.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: -10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:140px;
}
#startbottom {
	background-image: url(images/topbottom.png);
	background-repeat: no-repeat;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:14px;
	margin-top: 10px;
}
#startbottom2 {
	background-image: url(images/topbottom.png);
	background-repeat: no-repeat;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:14px;
}
#maincontainer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:1024px;
	background-color: #FFFFFF;
	margin-top: 0px;
}

#container {
	background:#FFFFFF;
	margin-right: auto;
	text-align: left;
	width:1000px;
	padding-left: 10px;
	padding-top: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #474747;
	font-size: 12px;
	line-height: 14px;
}
#space {
	padding-top: 10px;
} 



.formlist 		{	
font-family:Verdana; 
font-size: 10px;	
font-weight: normal; 
color:#000000; 
}

.formfield 	{	
font-size: 10px;	
font-weight: normal; 
color:#000000; 
border-top:1px solid #d8d8d8; 
border-left:1px solid #c7c7c7; 
border-right:1px solid #d8d8d8; 
border-bottom:1px solid #c7c7c7; 
background:#f4f4f4;
}


a:link
{
color: #78684e; 
font-size: 11px;
line-height: 12px;  
font-weight: normal;  
text-decoration: none;
}

a:visited
{
color: #78684e; 
font-size: 11px;
line-height: 12px;  
font-weight: normal;  
text-decoration: none;
}

a:active
{
color: #78684e;
font-size: 11px;
line-height: 12px;  
font-weight: normal;  
text-decoration: none;
}

a:hover	
{
color: #afbb52; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}


.more:link
{
	color: #FFFFFF;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
	background-color: #76a5da;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: -6px;
	padding-bottom: 1px;
}

.more:visited
{
color: #FFFFFF; 
font-size: 11px;
line-height: 12px;  
font-weight: normal;  
text-decoration: none;	
	background-color: #76a5da;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: -6px;
	padding-bottom: 1px;
}

.more:active
{
color: #FFFFFF;
font-size: 11px;
line-height: 12px;  
font-weight: normal;  
text-decoration: none;	
	background-color: #76a5da;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: -6px;
	padding-bottom: 1px;
}

.more:hover	
{
color: #FFFFFF; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;	
	background-color: #a49985;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: -6px;
	padding-bottom: 1px;
}


.bottomtext
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5f95d4;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}

.fronttext
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1pt;
}

.subfronttext
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}
.title
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 20px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width:100%;
	background-color: #a2c5ed;
	display:block;
	margin-bottom: 10px;
	}

.tab
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1pt;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 5px;
	width:100%;
	background-color: #5b94c7;
	display:block;
	height: 25px;
	}
.info
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #474747;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 5px;
	height: 25px;
	}

.sidemenu
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #78684e;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 10px;
	width:240 px;
	background-color: #eeeeee;
	display:block;
	}

.sidemenu:link 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #78684e;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 10px;
	width:240 px;
	background-color: #eeeeee;
	display:block;
	}

.sidemenu:visited 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #78684e;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;


	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 10px;
	width:240 px;
	background-color: #eeeeee;
	display:block;
	}
.sidemenu:active 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #78684e;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;


	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 10px;
	width:240 px;
	background-color: #eeeeee;
	display:block;
	}

.sidemenu:hover 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 10px;
	width:240 px;
	background-color: #78684e;
	display:block;
	}


.submenu
{
font-family: tahoma, Helvetica, sans-serif;
color: #2b3b92; 
font-size: 12px;
line-height: 14px;   
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu:link 
{
font-family: tahoma, Helvetica, sans-serif;
color: #2b3b92; 
font-size: 12px;
line-height: 14px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu:visited
{
font-family: tahoma, Helvetica, sans-serif;
color: #2b3b92; 
font-size: 12px;
line-height: 14px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu:hover
{
font-family: tahoma, Helvetica, sans-serif;
color: #FFFFFF; 
font-size: 12px;
line-height: 14px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:#61a6eb;
display:block;
height:20px;
border:0px;
padding-top:5px;


}

.submenu2
{
font-family: tahoma, Helvetica, sans-serif;
color: #FFFFFF; 
font-size: 12px;
line-height: 12px;   
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu2:link 
{
font-family: tahoma, Helvetica, sans-serif;
color: #FFFFFF; 
font-size: 12px;
line-height: 12px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu2:visited
{
font-family: tahoma, Helvetica, sans-serif;
color: #FFFFFF; 
font-size: 12px;
line-height: 12px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:afd7ff;
display:block;
height:20px;
border:0px;
padding-top:5px;
}
.submenu2:hover
{
font-family: tahoma, Helvetica, sans-serif;
color: #FFFFFF; 
font-size: 12px;
line-height: 12px; 
text-align:center;
font-weight: normal; 
text-decoration: none;
background:#61a6eb;
display:block;
height:20px;
border:0px;
padding-top:5px;


}


.header2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}

.header
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}
.header:link 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color: #FFFFFF; 
	font-size: 12px;
	line-height: 14px;
font-weight: normal; 
text-decoration: none;
letter-spacing: 1pt; 
}
.header:visited
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color: #FFFFFF; 
	font-size: 12px;
	line-height: 14px;
font-weight: normal; 
text-decoration: none;
letter-spacing: 1pt; 
}
.header:active
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #a8d96c;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}
.header:hover
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #a8d96c;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}

.sm
{
color: #8a7d64; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}

.sm:link
{
color: #8a7d64; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}
.sm:visited
{
color: #8a7d64; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}

.sm:active
{
color: #8a7d64; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}

.sm:hover	
{
color: #98a349; 
font-size: 11px;
line-height: 12px;  
font-weight: normal; 
text-decoration: none;
}

.sm3
{
color: #8a7d64; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
}

.sm3:link
{
color: #8a7d64; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
}
.sm3:visited
{
color: #8a7d64; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
}

.sm3:active
{
color: #8a7d64; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
}

.sm3:hover	
{
color: #98a349; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
}

.footertext
{
	color: #5f95d4;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
padding-top: 5px;
}

.footertext:link
{
color: #5f95d4; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
padding-top: 5px;
}
.footertext:visited
{
color: #5f95d4; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
padding-top: 5px;
}

.footertext:active
{
color: #5f95d4; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
padding-top: 5px;
}

.footertext:hover	
{
color: #8a7d64; 
font-size: 11px;
line-height: 14px;  
font-weight: normal; 
text-decoration: none;
padding-top: 5px;
}
.copy2 { font-family: tahoma ;color: #000000; font-size: 11px;line-height: 11px;}
.copy3 { font-family: tahoma ;color: #FFFFFF; font-size: 11px;line-height: 10px;}
.copy4 { font-family: tahoma ;color: #7d7d7d; font-size: 11px;line-height: 11px;}
.copy { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 11px;}
.copy:link { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 11px; font-weight: normal; text-decoration: none;}
.copy:visited { font-family: verdana ;color: #FFFFFF; font-size:10px;line-height: 11px;  font-weight: normal; text-decoration: none;}
.copy:hover { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 11px;  font-weight: normal; border-bottom-width: 0px; border-bottom-style: dotted;}

.dotted {
  border-bottom: dotted 1px #a89e8b;
padding-top: 10px;
padding-bottom: 5px;
}
.verticle {
	background-image: url(images/v_line.png);
	background-repeat: repeat-y;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:10px;
}
/* update 2014*/
.btn_cert{
    padding: 3px;
    cursor: pointer;
}
