html, body {
    font-family: Tahoma, 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-image: url(images/bg.jpg);
    top: 0px;
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    margin-top: 0px;
    background-position: fixed;
    background-repeat: repeat-x;
    background-color: #b4d86c;
    vertical-align:top
}
 
@font-face { 
    font-family: "rsu"; 
src:url('font/rsu_regular.eot');
 src:url('font/rsu_regular.eot?iefix') format('eot'),
     url('font/rsu_regular.woff') format('woff'),
     url('font/rsu_regular.ttf') format('truetype'),
     url('font/rsu_regular.svg#webfontCXAunSZT') 
     format('svg');
 font-weight: normal;
 font-style: normal;
 
} 

Font,td,tr,textarea
{

    font-size: 62.5%; /* Resets 1em to 10px */
    font-family: Tahoma, 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: #5a5a5a;
    left: 30px;
    font-size: 13px;
    line-height: 16px;
}
.bottomtext
{
    font-family: "rsu", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.text
{
    font-family: Tahoma, MS Sans Serif ;
    color: #78684e;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
}


#topmenu {
    background-image: url(images/bgmenu.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:128px;
    margin-top: 5px;
    z-index:50;
}
#footer {
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:88px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#bottom {
    background-image: url(images/bgbottom.jpg);
    background-repeat: repeat-x;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}
#endtop {
    background-image: url(images/topbottom2.jpg);
    background-repeat: no-repeat;
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:11px;
}
#endmenu {
    background-image: url(images/endtop.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:14px;
}
#tabbottom {
    background-image: url(images/bottomtab.jpg);
    background-repeat: no-repeat;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:140px;
}
#startbottom {
    background-image: url(images/topbottom.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:14px;
    margin-top: 10px;
}
#startbottom2 {
    background-image: url(images/topbottom.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:1024px;
    height:14px;
}
#maincontainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:1024px;
    background-color: #FFFFFF;
    margin-top: 0px;
}

#maincontainerframe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:1024px;
    background-color: #FFFFFF;
    margin-top: 0px;
}
#containerframe {
    background:#FFFFFF;
    margin-right: auto;
    text-align: left;
    width:900px;
    padding-left: 10px;
    padding-top: 0px;
}
#container {
    background:#FFFFFF;
    margin-right: auto;
    text-align: left;
    width:1000px;
    padding-left: 10px;
    padding-top: 0px;
}
#flag {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:1024px;
    height:19px;
}
#photofront {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:560px;
    background-color: #78684e;
    height: 405px;
    padding-top: 5px;
}
#vdofront {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:210px;
    background-color: #78684e;
    height: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#space {
    padding-top: 10px;
}

#bgblock {
    border:1px solid #ccc1aa;
    width:210px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #f6f6f6;
}
#bgkm {
    border:1px solid #d0ceac;
    width:160px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fbfbfb0;
}



.formlist 		{
    font-family:Verdana;
    font-size: 10px;
    font-weight: normal;
    color:#000000;
}

.formfield 	{
    font-size: 11px;
    font-weight: normal;
    color:#000000;
    border-top:1px solid #d8d8d8;
    border-left:1px solid #c7c7c7;
    border-right:1px solid #d8d8d8;
    border-bottom:1px solid #c7c7c7;
    background:#f4f4f4;
}


a:link
{
    color: #78684e;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

a:visited
{
    color: #78684e;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

a:active
{
    color: #78684e;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

a:hover
{
    color: #afbb52;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}


.moregreen:link
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a1c55b;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.moregreen:visited
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a1c55b;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.moregreen:active
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a1c55b;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.moregreen:hover
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #78684e;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}
.more:link
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a49985;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.more:visited
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a49985;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.more:active
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #a49985;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.more:hover
{
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #9fc359;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: -6px;
    padding-bottom: 1px;
}

.menu
{font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.menu:link
{font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}
.menu:visited
{font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.menu:active
{font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.menu:hover
{font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    color: #233cbb;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.fronttext
{
    font-family: "rsu", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.front
{
    font-family: "rsu", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #98dd0a;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}

.subfronttext
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}



.title
{
    font-family: "rsu","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 18px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 1pt;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    width:100%;
    background-color: #78684e;
    display:block;
    font-weight: 500;
}

.titleshop
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width:100%;
    background-color: #a49985;
    display:block;
}

.titleside
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width:240 px;
    background-color: #ceee6f;
    display:block;
}

.titleactivity
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width:240 px;
    background-color: #a1c55b;
    display:block;
}

.tabgreen
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #eeeeee;
}

.sidemenu
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 10px;
    width:240 px;
    background-color: #eeeeee;
    display:block;
}

.sidemenu:link
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 10px;
    width:240 px;
    background-color: #eeeeee;
    display:block;
}

.sidemenu:visited
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;


    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 10px;
    width:240 px;
    background-color: #eeeeee;
    display:block;
}
.sidemenu:active
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #78684e;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;


    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 10px;
    width:240 px;
    background-color: #eeeeee;
    display:block;
}

.sidemenu:hover
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 10px;
    width:240 px;
    background-color: #78684e;
    display:block;
}


.header2
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}

.header
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.header:link
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.header:visited
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.header:active
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #a8d96c;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}
.header:hover
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #a8d96c;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1pt;
}

.sm2
{
    color: #00000;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}
.sm
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

.sm:link
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}
.sm:visited
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

.sm:active
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

.sm:hover
{
    color: #98a349;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
}

.sm3
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.sm3:link
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}
.sm3:visited
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.sm3:active
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.sm3:hover
{
    color: #98a349;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
}

.footertext
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
}

.footertext:link
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
}
.footertext:visited
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
}

.footertext:active
{
    color: #8a7d64;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
}

.footertext:hover
{
    color: #98a349;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 5px;
}
.copy2 { font-family: tahoma ;color: #000000; font-size: 10px;line-height: 12px;}
.copy3 { font-family: tahoma ;color: #FFFFFF; font-size: 10px;line-height: 12px;}
.copy4 { font-family: verdana ;color: #a89e8b; font-size: 10px;line-height: 14px;}
.copy5 { font-family: verdana ;color: #a89e8b; font-size: 11px;line-height: 14px;}
.textrun { font-family: tahoma ;color: #000000; font-size: 12px;line-height: 14px;}
.copy { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 13px;}
.copy:link { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 13px; font-weight: normal; text-decoration: none;}
.copy:visited { font-family: verdana ;color: #FFFFFF; font-size:10px;line-height: 13px;  font-weight: normal; text-decoration: none;}
.copy:hover { font-family: verdana ;color: #FFFFFF; font-size: 10px;line-height: 13px;  font-weight: normal; border-bottom-width: 0px; border-bottom-style: dotted;}

.dotted {
    border-bottom: dotted 1px #a89e8b;
    padding-top: 10px;
    padding-bottom: 5px;
}
.verticle {
    background-image: url(images/v_line.png);
    background-repeat: repeat-y;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:10px;
}
td.reserve input[type="text"]{
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BEC4DC #7984B6 #9197B5 #BEC4DC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 180px;
}
td.reserve input[name^="idcard"],td.reserve input[name^="email"]{
    width:150px;
}
.sidebartext
{
	font-family: "rsu", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #483e07;
	font-size: 13px;
	line-height: 14px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}
.sidebartext2
{
	font-family: "rsu", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #666042;
	font-size: 14px;
	line-height: 15px;
	font-weight: normal;
	text-decoration: none;
letter-spacing: 1pt; 
}